.navbar {
    background-color: #1e293b;
    color: white;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #38bdf8;
}